<%= javascript_include_tag "style" %>
<%= javascript_include_tag "scv" %>
<div id="mainholderpad" class="clearfix">
    <table width="500">
      <tr> 
        <td> 
            <% form_tag(scr_path, :method => :get) do %>
          
            <center>
              <table border="1" cellpadding="7">
                <tr> 
                  <td colspan="2"> 
                    <center>
                      <span class="FontThree"> Savings Calculator</span>
                    </center>
                  </td>
                </tr>
                <tr> </tr>
                <tr> 
                  <td colspan="2"> <span class="FontFour"> 
                    <input type="radio" name="calculate_option" value="0" checked>
                    Calculate the Ending Balance<br />
                    (Hint: Enter amounts in the <u>Beginning Balance</u> and <u>Periodic 
                    Contribution</u> boxes.)<br />
                    <br />
                    <hr />
                    <input type="radio" name="calculate_option" value="1">
                    Calculate the Beginning Balance<br />
                    (Hint: Enter amounts in the <u>Periodic Contribution</u> and <u>Ending 
                    Balance</u> boxes.)<br />
                    <br />
                    <hr />
                    <input type="radio" name="calculate_option" value="2">
                    Calculate the Periodic Contribution<br />
                    (Hint: Enter amounts in the <u>Beginning Balance</u> and <u>Ending 
                    Balance</u> boxes.)<br />
                    <br />
                    </span> </td>
                </tr>
                <tr> 
                  <td> <span class="FontFour"> Beginning Balance: </span> 
                  </td>
                  <td> 
                    <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus="select();" onBlur="checkBB(this.form);" name="BeginningBalance" value="0" />
                  </td>
                </tr>
                <tr> 
                  <td> <span class="FontFour"> Interest Rate: </span> 
                  </td>
                  <td> 
                    <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus="select();" onBlur="checkIR(this.form);" name="InterestRate" value="8" />
                  </td>
                </tr>
                <tr> 
                  <td> <span class="FontFour"> Periodic Contribution: 
                    </span> </td>
                  <td> 
                    <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus="select();" onBlur="checkPC(this.form);" name="PeriodicContribution" value="0" />
                  </td>
                </tr>
                <tr> 
                  <td> <span class="FontFour"> Number of Periods: </span> 
                  </td>
                  <td> 
                    <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus="select();" onBlur ="checkNP(this.form);" name="NumberOfPeriods" value="0" />
                  </td>
                </tr>
                <tr> 
                  <td> <span class="FontFour"> Ending Balance: </span> 
                  </td>
                  <td> 
                    <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus="select();" onBlur="checkEB(this.form);" name="EndingBalance" value="0" />
                  </td>
                </tr>
                <tr> 
                  <td colspan="2"> <span class="FontFour"> 
                    <input type="radio" name="compound_option" value="0">
                    Compound on a Weekly Basis<br />
                    <input type="radio" name="compound_option" value="1" checked>
                    Compound on a Monthly Basis<br />
                    <input type="radio" name="compound_option" value="2">
                    Compound on a Quarterly Basis<br />
                    <input type="radio" name="compound_option" value="3">
                    Compound on an Annual Basis<br />
                    </span> </td>
                </tr>
                <tr> 
                  <td colspan="2"> <span class="FontFive">  
                    <input type="checkbox" name="today" value="1" checked />
                    Show Ending Balance in Current Dollars<br />
                    (Hint: Check this box to show the ending balance in today's dollars.)<br />
                    <hr />
                     
                    <input type="checkbox" name"inflation" value="0" />
                    Adjust for Inflation<br />
                    (Hint: Check this box to inflate the periodic contributions.)<br />
                    <br />
                    </span> </td>
                </tr>
                <tr> 
                  <td> <span class="FontFour"> Inflation Rate: </span> 
                  </td>
                  <td> 
                    <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus="select();" onBlur="checkInf(this.form);" name="InflationRate" value="3" />
                  </td>
                </tr>
              </table>
              <%= javascript_include_tag "enda" %>
            </center>
          <% end%>
    </table>
</div>