<p style="color: green", align=center><%= flash[:notice] %></p>
<div class="innercontent clearfix">      
	<div class="margin clearfix">
		<table class="app">
	    <tr>
	        <td>
	            <p class="centertext"><strong>Request for a VISA&#153; Card Account</strong></p>
	        </td>
	    </tr>
        <tr>
            <td>
                <p class="centertext"><br /><br /><strong>Your Visa Application has been received.</strong></p>
                <p class="centertext"><strong><%= link_to "Return to Home Page", root_path %></strong></p>
            </td>
        </tr>
    </table>
	</div>
</div>