<div id="mainholderpad" class="clearfix">
	
    <h1>CAPTAIN CASH YOUTH CLUB</h1>
    <p><%= image_tag "CaptainCash_web-headline.jpg", :alt=>"Captain Cash Logo" %></p>
    
    <h2>Invest  in the Future of Your Child.</h2><br />
    Join the Captain Cash(SM) club and unlock the lifetime value of credit union membership.
    Invest in the future of your child, by teaching them consistent saving habits
    at an early age. You'll be giving them a gift that will pay dividends for
    a lifetime. <br />
    <br />
    Today's kids are maturing faster and learning quicker thanks to technology.
    Today's parents grew up with pencils and crayons and their children use keyboards
    and modems. It seems as if so many things are changing. While many youngsters
    are light years ahead when it comes to computers, they still need to learn
    the importance of money management. Through special prizes, mailings, and
    planned events, the Captain Cash(SM) Club teaches your children valuable
    lessons about the importance of saving. <br />
    <br />
    <br />
    <br />
    
    <h2>Not Just Another Kids Club!</h2><br />
    While the Captain Cash(SM) Club will teach your child the value of saving,
    it will also address other issues they will face in their lives like fire
    safety, the environment, and saying no to drugs. Your credit union is committed
    to protecting and educating children and the Captain Cash(SM) Club is an
    effective way to share some important messages. <br />
    <br />
    Upon joining the Captain Cash(SM) Club, your child will receive a membership
    card, a certificate of recognition, a savings transaction record book, and
    stickers. Your child will also receive a secret decoder ring used for decoding
    secret messages that appear in the Captain Cash(SM) Newsletter that is mailed
    every other month. The newsletter also contains educational information,
    games, and puzzles. <br />
    <br />
    <br />
    <br />
    
    <h2>Club Membership Requirements:</h2><br />
    To enroll in the Captain Cash(SM) Club, the applicant must be eligible for
    credit union membership and be under the age of 12. The applicant must also
    open, or have, a share account with no less than a $5.00 balance. <br />

    <br />
    <p class="logo"><%= link_to "Request More Information", new_rfi_path %></p>
	<p>&nbsp;</p>
</div>
