<div id="mainholderpad" class="clearfix">

    <h1 class="centertext">KIT FEDERAL CREDIT UNION FEE SCHEDULE</h1>
    <h1 class="centertext">3415 Bardstown Road, Suite 103A<br />
        Louisville, Kentucky 40218<br />
        502.459.9286 or 1.888.459.9286<br />
        FAX: 502.458.7038<br />
       <br />
    </h1>

    <em>This Fee Schedule sets forth the fees charged by KIT
        for using various accounts and services. Please review this information
        along with the <%= link_to "Membership Agreement", membershipagreement_path %>, <%= link_to "Rate Schedule", ratessavings_path %>,
        and <%= link_to "Truth in Savings Disclosure", truth_path %> to educate on the best accounts and services
        for your financial needs. The Credit Union reserves the right to
        change the terms and conditions of these accounts from time to time
        without notice to you unless provided by law.<br />
   <br />
        Revised as of June 1, 2006</em><br />
   <br />
    
    <table class="sharerates">
        <tr>
            <th colspan="2">ITEMIZED SERVICE FEES</th>
        </tr>
        <tr>
            <td>Membership Fee</td>
            <td class="right">FREE</td>
        </tr>
        <tr>
            <td>Overdraft Fee (paid or returned items)</td>
            <td class="right">$30.00 ea.</td>
        </tr>
        <tr>
            <td>Overdraft Transfer Fee, if transferred from other than Prime
                Shares</td>
            <td class="right">$5.00 per transfer</td>
        </tr>
        <tr>
            <td>Stop Payment Fee</td>
            <td class="right">$10.00 ea</td>
        </tr>
        <tr>
            <td>Stop Payment Fee (NSF in account)</td>
            <td class="right">$30.00 ea.</td>
        </tr>
        <tr>
            <td>Photo Copy of Check Fee</td>
            <td class="right">$3.50 ea.</td>
        </tr>
        <tr>
            <td>Check Printing Fee</td>
            <td class="right">Prices Vary</td>
        </tr>
        <tr>
            <td>ATM Card/PIN Replacement Fee</td>
            <td class="right">$5.00 ea.</td>
        </tr>
        <tr>
            <td>ATM Overdraft Fee</td>
            <td class="right">$30.00 ea.</td>
        </tr>
        <tr>
            <td>ACH NSF Fee</td>
            <td class="right">$30.00 ea.</td>
        </tr>
        <tr>
            <td>ACH Stop Payment Fee</td>
            <td class="right">$10.00 ea.</td>
        </tr>
        <tr>
            <td>Domestic Wire Transfer In Fee</td>
            <td class="right">$5.00 ea.</td>
        </tr>
        <tr>
            <td>Domestic Wire Transfer Out Fee</td>
            <td class="right">$10.00 ea.</td>
        </tr>
        <tr>
            <td>Money Order Fee</td>
            <td class="right">$1.00 ea.</td>
        </tr>
        <tr>
            <td>Loan Late fee: 10% of each scheduled payment past due, charged
                each time you pay until loan is current.</td>
            <td class="right">Minimum per pmt due: $15.00<br />
                Maximum per pmt due: $25.00</td>
        </tr>
        <tr>
            <td>VISA Late Fee</td>
            <td class="right">$35.00</td>
        </tr>
        <tr>
            <td>Check Cashing Fee (Fee waived if account balance is $50 or
                more)</td>
            <td class="right">$3.00 ea.</td>
        </tr>
        <tr>
            <td>Official Check Fee-Member: 1st Check<br />
                2 or more checks</td>
            <td class="right">FREE<br />
                $1.00 ea.</td>
        </tr>
        <tr>
            <td>Official Check Fee - Third Party</td>
            <td class="right">$3.50 ea.</td>
        </tr>
        <tr>
            <td>Cashier's Check Fee</td>
            <td class="right">$5.00 ea.</td>
        </tr>
        <tr>
            <td>Interim Statement Fee</td>
            <td class="right">$1.00 pg.</td>
        </tr>
        <tr>
            <td>Records Copy Fee (Statements, histories, etc.)</td>
            <td class="right">$1.00 pg.</td>
        </tr>
        <tr>
            <td>Returned Check Fee</td>
            <td class="right">&nbsp;</td>
        </tr>
        <tr>
            <td>- For personal checks drawn on another financial institution - redeposit.</td>
            <td class="right">$5.00 ea.</td>
        </tr>
        <tr>
            <td>- For personal checks drawn on another financial institution - funds backed out.</td>
            <td class="right">$30.00 ea.</td>
        </tr>
        <tr>
            <td>Research Fee<br />
                (No charge if error by Credit Union)</td>
            <td class="right">$25.00</td>
        </tr>
        <tr>
            <td>Checkbook Balancing Fee<br />
                (1st time free)</td>
            <td class="right">$25.00 hr.</td>
        </tr>
        <tr>
            <td>Christmas Account Early Withdrawal Fee<br />
                (Prior to October 1st)</td>
            <td class="right">$5.00 ea.</td>
        </tr>
        <tr>
            <td>Garnishment/Levy Fee</td>
            <td class="right">$50.00 ea.</td>
        </tr>
        <tr>
            <td>Removing Joint Owner Fee<br />
                (Upon third occurrence and thereafter)</td>
            <td class="right">$25.00 ea.</td>
        </tr>
        <tr>
            <td>Loan Application Fee</td>
            <td class="right">$10.00 ea.</td>
        </tr>
        <tr>
            <td>VISA Card/PIN Replacement Fee</td>
            <td class="right">$5.00 ea.</td>
        </tr>
        <tr>
            <td>Dormant Account Fee</td>
            <td class="right">$5.00/mo.</td>
        </tr>
        <tr>
            <td>Fax Fee</td>
            <td class="right">$1.00 pg.</td>
        </tr>
    </table>

   <br />
    
    <table class="sharerates">
        <tr>
            <th colspan="2">AGGREGATED TRANSACTION FEES</th>
        </tr>
        <tr>
            <td>ATM Withdrawal Transaction Fee<br />
                (Per membership account)<br />
                First 4 in a calendar month<br />
                Excess of 4 in a calendar month</td>
            <td class="right">FREE<br />$1.00 ea.</td>
        </tr>
        <tr>
            <td>ATM Deposits</td>
            <td class="right">FREE</td>
        </tr>
        <tr>
            <td>ATM/Debit Card Point-of-Sale transactions</td>
            <td class="right">FREE</td>
        </tr>
        <tr>
            <td>Excessive Withdrawal Fee (per Prime Shares, Christmas or
                Special Accounts)<br />
                (Cash and check withdrawal transactions)<br />
                First 5 in a calendar month<br />
                Excess of 5 in a calendar month</td>
            <td class="right">FREE<br />$5.00 ea.</td>
        </tr>
    </table>
    
    <p>&nbsp;</p>
</div>
