<div id="mainholderpad" class="clearfix">

<p class="main centertext">FREQUENTLY ASKED QUESTIONS</p>
<strong>What browser should I use to access KIT Connect?</strong><br />
You must use a browser that supports encryption. Netscape Navigator or Microsoft IE versions 3.0 and higher are recommended. 
<br /><br />

<strong>Where do I find my Personal Identification Number? And can I change my PIN?</strong><br />
For your first time to sign-on, the PIN used for KIT Connect is the same one used for Audio Response.  If you've forgotten the PIN, you can call one of our Representatives at 502.459.9286 or 888.459.9286 and (after verification of your identity) we will mail it to your address.
You must change your PIN after your initial sign-on to KIT Connect.  You must use an 8 digit PIN consisting of alpha, numeric, and other symbols. For example, you could use: xy99%@zz. 
<br /><br />

<strong>When logging on, I received a message asking me to allow the system to set a cookie. What does this mean?</strong><br />
KIT Connect assigns a random session ID each time you log in. This ID is verified each time you send or receive information from KIT Connect. The session ID provides security for your private information by responding only to requests that are intended for you. The session cookie is not stored on your computer, and it is dismissed when you exit your browser, or are logged out after the inactivity period. Without accepting this session ID (cookie), you cannot explore your accounts with KIT Connect. 
<br /><br />

<strong>I keep getting "time out" messages each time I try to explore my account information.</strong><br />
You may not have your browser set to allow "cookies". See the question above. 
<br /><br />

<strong>What functions are available through KIT Connect?</strong><br />
Transfers between suffixes, loan payments, account inquiries, transaction history, verification of cleared checks, withdrawals (a check is mailed to you), and download to Quicken (2003 version or earlier) or Microsoft Money.  
<br /><br />

<strong>Is there a fee for using KIT Connect?</strong><br />
There is no fee for using the basic functions of KIT Connect. 
<br /><br />

<strong>When will transactions be posted?</strong><br />
The system is online and real time. Your account will be updated as soon as you complete the transaction. 
<br /><br />

<strong>May I download information to my financial management software?</strong><br />
Yes, KIT Connect allows downloading to either Quicken (2003 version or earlier) or Microsoft Money. 
<br /><br />

<strong>For what periods is "transaction history" and check verification available?</strong><br />
KIT Connect allows you to span a years worth of transaction activity! 
<br /><br />

<strong>What about security issues? Can other people see my accounts or watch what I'm doing with my transactions?</strong><br />
We use the best available technology in security, firewalls and encryption. Also, if your KIT Connect session is inactive for more than a few minutes, the session will "time out", requiring you to enter your account and PIN again before continuing. As an additional security measure, KIT Connect will only accept three (3) invalid PIN attempts before locking the account out. We advise you not to share your PIN with others, or to keep it in any place readily accessible to others. You may want to check out our separate section on Security Information. 
<br /><br />

<strong>Can I transfer funds between separate accounts?</strong><br />
Yes!! Simply sign a Cross Account Authorization card to authorize the cross account access. You can then transfer funds between your account and anyone else who you have given authorization to.
<br />
</div>
