<div id="mainholder" class="clearfix">
	<script type="text/javascript">
		AC_FL_RunContent(
			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0',
			'width', '566',
			'height', '92',
			'src', 'banner_july2006',
			'quality', 'high',
			'pluginspage', 'http://www.adobe.com/go/getflashplayer',
			'align', 'middle',
			'play', 'true',
			'loop', 'true',
			'scale', 'showall',
			'wmode', 'transparent',
			'devicefont', 'false',
			'id', 'banner_july2006',
			'bgcolor', '#ffffff',
			'name', 'banner_july2006',
			'menu', 'true',
			'allowFullScreen', 'false',
			'allowScriptAccess','sameDomain',
			'movie', 'banner_july2006',
			'salign', ''
			); 
	</script>
	<div class="fleft">
	<script type="text/javascript">
		AC_FL_RunContent(
			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0',
			'width', '200',
			'height', '197',
			'src', 'rotate',
			'quality', 'high',
			'pluginspage', 'http://www.adobe.com/go/getflashplayer',
			'align', 'middle',
			'play', 'true',
			'loop', 'true',
			'scale', 'showall',
			'wmode', 'transparent',
			'devicefont', 'false',
			'id', 'rotate',
			'bgcolor', '#ffffff',
			'name', 'rotate',
			'menu', 'true',
			'allowFullScreen', 'false',
			'allowScriptAccess','sameDomain',
			'movie', 'rotate',
			'salign', ''
			); 
    </script>
	</div>
	<h2 class="centertext"><br />
	</h2>
    <p><br />
    </p>
    <p><strong>2006 &nbsp;GMC Envoy Denali   &nbsp;&nbsp;  $19,900</strong><br />
Power sunroof, bose stereo, navigation system, alloy wheels,  leather seats, 3rd row. seating, seats 8 people, fully loaded!<br />
Jasper Engine warranty 3 yrs/100,000 miles nationwide.<br />
<br />
    </p>
<p class="centertext">&nbsp;</p>
<p class="centertext">&nbsp;</p>
<p class="centertext"><%= image_tag "extendedhours.jpg", :alt=>"" %><strong><br />
    Tuesdays</strong>:&nbsp;  Drive-up window open until 6:30<br />
    &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; (inside counter still  closes at 4:30)<br />
    <strong>Tuesdays</strong>:&nbsp;  Loan closings (by appointment) until 6:30<br />
    <strong>Fridays</strong>:&nbsp;  Both drive-up and lobby open until 6:30<br />
    <strong>Holiday  Closing</strong>: Monday,  October 11th Columbus Day (staff training)</p>
<hr />
<p><%= image_tag "optin.jpg", :alt=>"" %></p>
<hr />
<h2 class="centertext">Do you have a new address or phone number?</h2>
<p>Please let us know if your phone number has changed, so if we need to get in
  touch with you concerning your account!! Please contact a kit member representative
  to make changes. </p>
<p class="centertext">&nbsp;</p>
	<h2>IMPORTANT NOTICE : </h2>
	<h2>FEDERAL DEPOSIT INSURANCE INCREASED</h2>
	<p>
		The Emergency Economic Stabilization Act of 2008 (the &quot;mortgage ballout bill&quot;),
		signed into law on October 3, 2008, included a provision that increased the insurance
		coverage on all federally Insured accounts from $100,000 to $250,000 through December
		31, 2009.
	</p>
	<p>
		A brochure entitled &quot;How Your Accounts are Federal Insured&quot; was Included
		with your September 2008 Credit Union statement. That brochure was printed before
		the October 3rd legislation, and refers to the $100.00 limit. It still contains
		valuable information, but as you read the brochure, whenever it states &quot;$100,000&quot;
		or multiple of $100,000, substitute &quot;$250,000&quot; or multiple of $250.000.&nbsp;
		See the example below, using the limits.
	</p>
	<p>
		Question: Member A and B, husband and wife, each maintain an individual account
		containing $250,000. In addition, they hold a qualifying Joint account containing
		$500,000. What Is the insurance coverage?
	</p>
	<p>
		Answer: Each individual account is insured up to $250.000, and the interest of A
		and the interest of B in the joint account are each insured for $250,000 separately
		from their individual accounts.
	</p>
	<p>
		The Total coverage is 1,000,000.
	</p>
	<p>
		For more Information, visit www.ncua.gov and click on &quot;NCUA's Insurance Coverage
		Tool Kit&quot; and then click &quot;Your Insured Funds&quot;. Remember, not one
		penny of insured savings has ever been lost by a member of a federally insured credit
		union!&nbsp; Your money is safe at KIT.
	</p>
</div>