<div id="mainholder" class="clearfix">
<!-- MAIN CONTENT GOES HERE -->
  <p class="centertext main">KIT SPONSORS<br /></p>
  
<table class="sponsors">


<tr class="prop">
    <td class="prop"><strong>ORGANIZATION</strong></td>
    <td class="prop"><strong>CONTACT INFORMATION</strong></td>
</tr>
<tr>
    <td valign="top">AC Brake Company</td>
    <td valign="top">308 East College Street<br />Louisville, KY 40203 <br />(502) 584-5226<br />Becky McHone</td>
</tr>
<tr>
    <td valign="top">ACME Auto Electric</td>
    <td valign="top">508 Baxter Avenue<br />Louisville, KY 40204<br />(502) 584-6208<br />Jeannie Adams</td>
</tr>
<tr>
    <td valign="top">Auto Alternative</td>
    <td valign="top">2004-B N. Park Central<br />Nicholasville, KY 40356<br />(859) 887-5526<br />Thayre Hawkins</td>
</tr>
<tr>
    <td valign="top">Auto Body Panels</td>
    <td valign="top">11950 Mosteller Road<br />Cincinnati, OH 45241<br />(513) 771-2886<br />Alena Wadsworth</td>
</tr>
<tr>
    <td valign="top">Auto Electric</td>
    <td valign="top">4001 Produce Road<br />Louisville, KY 40218<br />(502) 969-6500 EXT. 3004<br />Doris Manning</td>
</tr>
<tr>
    <td valign="top">Auto Tech Services</td>
    <td valign="top">211 East Second Street<br />Indianapolis, IN 46206<br />(317) 632-4487<br />Becky Collingsworth</td>
</tr>
<tr>
    <td valign="top">Auto Wheel and Rim</td>
    <td valign="top">900 South 7th Street<br />Louisville, KY 40203<br />(502) 582-1383<br />Melba Jones</td>
</tr>
<tr>
    <td valign="top">Bluegrass Parts Warehouse</td>
    <td valign="top">151 Danville Bypass<br />Danville, KY 40422<br />(859) 236-5800<br />Diana Dennis</td>
</tr>
<tr>
    <td valign="top">Clark and Riggs</td>
    <td valign="top">1904 Watterson Trail, Suite 100<br />Louisville, KY 40299<br />(502) 493-9651<br />Jim Manion</td>
</tr>
<tr>
    <td valign="top">Complete Automotive</td>
    <td valign="top">2336 Palumbo Drive<br />Lexington, KY 40509<br />(859) 268-8715<br />Kim Taulbee</td>
</tr>
<tr>
    <td valign="top">Computer Tune</td>
    <td valign="top">721 North Broadway<br />Lexington, KY 40508<br />(859) 253-3572<br />Rod Jones</td>
</tr>
<tr>
    <td valign="top">Cook Tire Co. Inc.</td>
    <td valign="top">4592 Chloe Road<br />Pikeville, KY 41501<br />(606) 432-0010</td>
</tr>
<tr>
    <td valign="top">Dailey's 24 Hour Food Mart #1</td>
    <td valign="top">202 East 10th Street <br />Jeffersonville, IN 47130<br />(812) 282-4947<br />John Daily</td>
</tr>
<tr>
    <td valign="top">Dialey's 24 Hour Food Mart #2</td>
    <td valign="top">417 Vincennes<br />New Albany, IN 47150<br />(812) 945-1822<br />John Daily</td>
</tr>
<tr>
    <td valign="top">Dare to Care</td>
    <td valign="top">P.O. Box 35458<br />Louisville, KY 40232	<br />(502) 966-3821<br />Jean Cady, Linda Miller, Pat Kenkel</td>
</tr>
<tr>
    <td valign="top">Doll's Market</td>
    <td valign="top">3620 Brownsboro Rd.<br />Louisville, KY 40207<br />(502) 897-1501<br />Toni Bryan</td>
</tr>
<tr>
    <td valign="top">Don's Super Saver</td>
    <td valign="top">200 Walden Road <br />Harlan, KY 40831<br />(606) 573-4063<br />Sandy Kinner</td>
</tr>
<tr>
    <td valign="top">E. Bruce Neikirk</td>
    <td valign="top">4169 Westport Road<br />Louisville, KY 40207<br />Debbie</td>
</tr>
<tr>
    <td valign="top">E.M. Hoehler Company</td>
    <td valign="top">330 East College Street <br />Louisville, KY 40203 <br />(502) 584-0278<br />Stephen Hoehler</td>
</tr>
<tr>
    <td valign="top">Kentucky Grocer's Association</td>
    <td valign="top">1951 Bishop Lane<br />Watterson East, Suite 205<br />Louisville, KY 40218<br />(502) 459-7111<br />Pat Hicks</td>
</tr>
<tr>
    <td valign="top">K &amp; I Hardchrome</td>
    <td valign="top">1900 East Main Street<br />New Albany, IN 47150<br />(812) 948-1166<br />Susan Aldridge</td>
</tr>
<tr>
    <td valign="top">K's Bestway</td>
    <td valign="top">201 East Heather Renee French Blvd<br />Augusta, KY 41002<br />(606) 756-2145<br />Beverly Kelsch</td>
</tr>
<tr>
    <td valign="top">Lee's Bestway</td>
    <td valign="top">117 Miami Street<br />Brooksville, KY<br />Harold and Raye Jean Turner</td>
</tr>
<tr>
    <td valign="top">Lube Equipment Inc.</td>
    <td valign="top">221 21st Street	<br />Ashland, KY 40216<br />(606) 329-8211</td>
</tr>
<tr>
    <td valign="top">Midway Brake and Wheel</td>
    <td valign="top">1140 S West Street <br />Indianapolis, IN 46206<br />(317) 632-4487<br />Mark Bauer</td>
</tr>
<tr>
    <td valign="top">Midwest Warehouse Corporation</td>
    <td valign="top">701 N Miller Avenue<br />Marion, IN 46952<br />(765) 384-5451<br />Joe Gehlausen</td>
</tr>
<tr>
    <td valign="top">Moog Louisville Warehouse</td>
    <td valign="top">1421 West Magazine Street<br />Louisville, KY 40203<br />(502) 583-7795<br />Janet Caffee</td>
</tr>
<tr>
    <td valign="top">National Automotive</td>
    <td valign="top">6229 Cross Creek Blvd<br />Fort Wayne, IN 46818<br />(260) 489-3344<br />Tony Kell</td>
</tr>
<tr>
    <td valign="top">Olde Towne Grocery</td>
    <td valign="top">128 East Maple<br />Jeffersonville, IN 47130<br />Steve Watson</td>
</tr>
<tr>
    <td valign="top">Pic Pac 131</td>
    <td valign="top">128 East Maple<br />Jeffersonville, IN 47130<br />Steve Watson</td>
</tr>
<tr>
    <td valign="top">Popp Machine and Tool</td>
    <td valign="top">1463 South Brook Street<br />Louisville, KY 40208<br />(502) 635-5259<br />Jenny</td>
</tr>
<tr>
    <td valign="top">Power Products</td>
    <td valign="top">3225 Greenup Avenue<br />Ashland, KY 41101<br />(606) 329-2418 <br />(606) 324-7424 (fax)</td>
</tr>
<tr>
    <td valign="top">Republic Diesel</td>
    <td valign="top">305 East College Street<br />Louisville, KY 40203<br />(502) 561-2240<br />Priscilla Fields</td>
</tr>
<tr>
    <td valign="top">Republic Industries</td>
    <td valign="top">3000 West Broadway<br />Louisville, KY 40211<br />(502) 588-2120<br />Brian Miller</td>
</tr>
<tr>
    <td valign="top">Ridge Company</td>
    <td valign="top">714 South Thomas Road<br />Fort Wayne, IN 46804<br />(260) 459-1650<br />Mary Lou Thomas</td>
</tr>
<tr>
    <td valign="top">Roppel Industries</td>
    <td valign="top">829 Logan Street<br />Louisville, KY 40204<br />(502) 581-1004<br />Tom Roppel</td>
</tr>
<tr>
    <td valign="top">Save-A-Lot</td>
    <td valign="top">5011 Preston Hwy<br />Louisville, KY 40213<br />(502) 966-3477<br />Bill Brewer</td>
</tr>
<tr>
    <td valign="top">Save-A-Step</td>
    <td valign="top">610 West Highway 131<br />Clarksville, IN 47129<br />(812) 945-3096<br />Diana Workman</td>
</tr>
<tr>
    <td valign="top">Short Stop Food Marts</td>
    <td valign="top">3036 Breckinridge LaneSuite 101<br />Louisville, KY 40220<br />Tony White, Harold Risner</td>
</tr>
<tr>
    <td valign="top">Shugars Supply Company</td>
    <td valign="top">124 West 2nd Street <br />Maysville, KY 41056<br />(660) 564-9071<br />Carol Shugars</td>
</tr>
<tr>
    <td valign="top">Southside Pic-Pac</td>
    <td valign="top">6629 Southside Drive<br />Louisville, KY 40214<br />(502) 366-9389<br />David Maxwell</td>
</tr>
<tr>
    <td valign="top">S&amp;S Tire</td>
    <td valign="top">401 McConnel Springs Road<br />Lexington, KY 40504<br />(859) 253-3878<br />Pat Forrester</td>
</tr>
<tr>
    <td valign="top">STM/Russell Manufacturing</td>
    <td valign="top">151 Industry Drive<br />Georgetown, KY 40324<br />(502) 863-4548<br />Diana</td>
</tr>
<tr>
    <td valign="top">Swift and Co.</td>
    <td valign="top">1200 Story Avenue<br />Louisville, KY 40206 <br />(502) 582-0229</td>
</tr>
<tr>
    <td valign="top">Taylor Blvd Pic-Pac</td>
    <td valign="top">3110 Taylor Blvd<br />Louisville, KY 40215<br />(502) 367-2060<br />David Maxwell</td>
</tr>
<tr>
    <td valign="top">Truck Supplies</td>
    <td valign="top">881 Nandino Blvd<br />Lexington, KY 40511<br />(859) 259-3424<br />Jack Martin</td>
</tr>
<tr>
    <td valign="top">ValuMarket</td>
    <td valign="top">315 Whittington Pkwy<br />Louisville, KY 40222<br />(502) 423-7110<br />James Newman</td>
</tr>
<tr>
    <td valign="top">Wayne Auto Parts</td>
    <td valign="top">617 North Main Street<br />Monicello, KY 42633<br />(606) 348-9386<br />Harold Davis</td>
</tr>
<tr>
    <td valign="top">West Liberty Citgo</td>
    <td valign="top">607 North Main<br />West Liberty, KY 41472<br />(606) 743-2471<br />David Wright</td>
</tr>
<tr>
    <td valign="top">Yeary Auto Electric</td>
    <td valign="top">Highway 25 East<br />Middlesboro, KY 40965<br />(606) 248-2588<br />Diane Mason</td>
</tr>
</table>			
</div>
