<div id="mainholderpad" class="clearfix">
    <h1 class="centertext">MEMBERSHIP AND ACCOUNT AGREEMENT</h1>
    <h1 class="centertext">3415 Bardstown Road, Suite 103A<br />
        Louisville, Kentucky 40218<br />
        502.459.9286 or 1.888.459.9286<br />
        FAX: 502.458.7038</h1>
    <br />
     	This disclosure includes Truth-In-Savings information
        about your accounts and sets forth your rights and obligations as
        a user of Credit Union services.<br />
    <br />
    <br />
    <h2>TERMS AND CONDITIONS FOR SAVINGS (SHARE) AND CHECKING ACCOUNTS</h2>
        By signing a Membership Card and receiving approval from a Membership
        Officer, you have become a member of KIT Federal Credit Union (&quot;Credit
        Union&quot;) with all the rights and privileges therein. By signing
        and selecting the accounts and services you desire on the Membership
        Card or any other agreement cards (hereinafter individually or collectively
        referred to as &quot;Signature Card&quot;), you have opened the various
        savings, checking accounts, and services designated by the account
        number on the Signature Card and you have agreed to be bound by these
        terms and conditions, the Truth-in-Savings Rate and Fee Schedule,
        terms and conditions disclosed for particular accounts or services,
        and by our bylaws, amendments to the bylaws, and federal and state
        rules and regulations which govern the services offered by us (collectively
        referred to as &quot;Agreement&quot;). Unless it would be inconsistent
        to do so, words and phrases used in this Agreement should be construed
        so that the singular includes the plural and the plural includes
        the singular. As used in this Agreement, the words &quot;we&quot;, &quot;our&quot;,
        and &quot;us&quot; mean the Credit Union and the words &quot;you&quot;, &quot;your&quot;,
        and &quot;yours&quot; mean the Member and any individuals who own
        the account.<br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %>
    <%= link_to "Membership Application", new_memberapp_path, :rel=>"external" %><br />
    <br />
    <hr />
    <br />
    <h2>MEMBERSHIP.</h2>
        You are eligible to join the Credit Union provided you are an individual
        or entity qualifying under the field of membership of the Credit
        Union and must maintain a Prime Share Account in your own name. You
        also must maintain a minimum balance of at least par value of a share
        in your Prime Share Account, failure to do so will terminate your
        membership. Your Prime Share Account will be maintained as any other
        regular savings account. By your signature you have authorized us
        to check your financial history, including reports about your employment,
        credit and checking history and to verify your eligibility for the
        accounts and services you have requested. You may retain your membership
        for life, providing your membership is active and in accordance with
        our bylaws.<br />
    <br />
    <hr />
    <br />    
    <h2>FAMILY MEMBERS.</h2>
        You are eligible to join the Credit Union as a family member if you
        are related by blood, marriage, adoption or legal process, or you
        are a spouse of a deceased person who was a member or who was eligible
        to be a member at the time of his/her death. Family members have
        the same privileges as primary members.<br />
    <br />
    <hr />
    <br />        
    <h2>ACCOUNT OWNERSHIP OPTIONS.</h2>
        An  &quot;Account&quot; means any Savings or Checking Account designated
        on a Signature Card by you. You can set your Account up as either
        a single ownership, where the Account belongs only to the member,
        no one else has access to the funds; or joint ownership, where the
        Account has two or more owners, each owner has the right to access
        the Account individually. The primary person on the Account must
        be a member. A joint owner does not have to be a member.<br />
    <br />
        A single ownership Account may be held by any individual, corporation,
        partnership, trust or other organization qualified for Credit Union
        membership. The interest of a deceased individual owner will pass
        to the decedent's estate or Payable on Death (&quot;POD&quot;) beneficiary
        under applicable laws and subject to any provisions of this Agreement
        governing withdrawal and transfer requests prior to notice of the
        owner's death.<br />
    <br />
        A joint ownership Account may be held by two or more persons and
        shall be held with rights of survivorship, unless otherwise requested
        in writing by the owners. Upon the death of one joint Account owners,
        that individuals' interest will become the property of the surviving
        joint Account owners. If the primary member dies, the Account may
        not be maintained unless one of the joint Account owners is eligible
        for membership and so exercises his/her right.<br />
    <br />
        Any joint owner is authorized to act for the other owner(s) and we
        may accept requests, orders, and instructions regarding the handling
        of the Account from any joint owner. In order to change the ownership
        or termination of the Account, we reserve the right to require written
        consent of all joint owners. Any joint owner may withdraw all available
        funds, stop payment on items drawn on the Account, transfer, pledge
        all or any part of the shares of the Account without the consent
        of the other joint owner(s). The primary member is the only person
        who may authorize the withdrawal of the minimum required shares and
        the closure of the Account. We have no duty to notify any joint owner
        of the action of the other owners. If we receive conflicting instructions
        from joint owners or receive written notice of a dispute between
        joint owners, we may require a written agreement from all joint owners
        of the Account, require a court order to act, or may suspend or terminate
        the Account.<br />
    <br />
        Each joint owner is jointly and severally liable to us for any amount
        of a returned deposited item or overdraft, and any charges created
        thereby, regardless of which joint owner created the overdraft, deposited
        or cashed the item or benefited from the transactions. We have a
        lien against the Account for any indebtedness of any joint owner
        and may enforce our rights against any or all funds in the joint
        Account, regardless of who contributed the funds to the Account.
        If a joint owner tenders written release of his/her rights to the
        joint Account, that joint owner is still liable for funds and fees
        accrued or owed at that time, whether or not they have been assessed
        at that time, regardless who of which joint owner caused the obligation.<br />
    <br />
    <hr />
    <br />    
    <h2>SAVINGS (SHARE) ACCOUNTS.</h2>
        Savings Accounts are not transferable except on our books. Savings
        Account includes the Regular Share Account and any special account
        designated by you, such as Insurance and Vacation accounts, and will
        be governed by this Agreement and any other restrictions given to
        at the time of opening the Account or amendments made to the Account
        from time to time.<br />
    <br />
    <hr />
    <br />
    <h2>CHECKING (CHECKING) ACCOUNTS.</h2>
        This is a transaction account and it may be accessed by Credit Union
        approved checks, electronic funds transfer items, or in person. Checking
        accounts may have automatic overdraft protection from designated
        Savings Accounts or from an approved line-of-credit if funds are
        available.<br />
    <br />
    <hr />
    <br />        
    <h2>OTHER ACCOUNTS.</h2>
        The Credit Union offers other accounts, such as Share Certificates,
        IRA Share Certificates, Christmas, and Individual Retirement Accounts
        (&quot;IRA&quot;), that are covered by these rules and special rules
        disclosed to you at the time of opening the Account, including the
        Rate and Fee Schedule.<br />
    <br />
    <hr />
    <br />        
    <h2>POD ACCOUNTS.</h2>
        Completion of the POD beneficiary designation section of the Signature
        Card creates an Account payable to the owner or owners during their
        lifetimes, and upon the death of the last owner, payable to the named
        beneficiaries. Accounts payable to more than one beneficiary are
        owned jointly without rights of survivorship between the members.
        Unless otherwise designated by law, we have no obligation to notify
        any designated beneficiary of the existence of the Account or any
        vesting interest in the Account. IRA accounts are governed by separate
        beneficiary designation.<br />
    <br />
    <hr />
    <br />        
    <h2>MINOR ACCOUNTS.</h2>
        A minor may establish any savings Account with us, however, we reserve
        the right to require a guarantor of at least 18 years of age, who
        shall be primarily liable to us for any returned item, overdraft,
        or unpaid charges or amounts on such Account. We may make payments
        directly to the minor unless we receive written notice from the minor's
        guardian to withhold payment from the minor and we have had a reasonably
        time to act on such notice. Unless the guardian is a joint owner
        of the Account, the guardian shall not have right to access the Account.
        We have no duty to inquire of the use or purpose of any transaction
        by the minor or joint Account owner. We shall not change the Account
        status when the minor reaches age 18, unless authorized in writing
        by all Account owners.<br />
    <br />
    <hr />
    <br />        
    <h2>TRUST ACCOUNTS.</h2>
        Trust accounts may be a simple trust, an Uniform Transfers/Gifts
        to Minors Account, or a Living Trust Account held by one or more
        trustees or custodians pursuant to a written document. One of the
        beneficiaries or grantors must be eligible for membership. We are
        under no obligation to act as trustee or custodian, to inquire as
        to the powers or duties of the trustee(s) or custodian(s), or to
        inquire of the use or purpose of any transaction by the trustee or
        custodian. We may place an administrative hold on the Account, in
        the event of the death of a trustee or custodian until receiving
        instructions from any person authorized by law or by court order.<br />
    <br />
    <hr />
    <br />        
    <h2>POWER OF ATTORNEY/AGENCY.</h2>
        If you have a Power of Attorney on file with us, then the person
        with authority to sign can withdraw funds and perform other transactions
        for you. An agency designation authorizes another person to make
        certain transactions on designated Accounts. The Attorney in Fact
        or the Agent does not have ownership in the Account or voting rights
        in the Credit Union. We have no duty to inquire of the use or purpose
        of any transaction.<br />
    <br />
    <hr />
    <br />        
    <h2>SHARE DEPOSIT INSURANCE.</h2>
        All accounts are federally insured up to an aggregate amount of $100,000
        by the National Credit Union Administration, a U.S. Government Agency.
        Individual Retirement Accounts are insured up to an additional aggregate
        amount of $250,000.<br />
    <br />
    <hr />
    <br />
    <h2>BUSINESS AND ORGANIZATION ACCOUNTS.</h2>
        Accounts held in the name of a member, organization, or association
        for business purposes are governed by this Agreement and the following
        additional rules. The Account owners agree to inform us of the persons
        authorized to transact business on behalf of the entity. We may rely
        on the Account owner's written authorization until such time we are
        informed in writing of any changes and have time to act on said notice.
        We require third party checks payable to the entity may not be cashed,
        but must be deposited to an Account that has the proper D.B.A. documentation
        on file. Unless we have written notice of any wrongdoing, we shall
        have no notice of any breach of fiduciary duties arising from a transaction
        by any agent of the entity.<br />
    <br />
    <hr />
    <br />
    <h2>DEPOSITS.</h2>
        You can deposit any amount of money you wish into your Account at
        any branch during our normal business hours. Deposits may be made
        for all Accounts, if permitted by law, by telephone transfer, at
        an ATM, by mail, through direct deposit of your recurring payments,
        such as social security benefits and salary, or by automatic transfers
        (including audio response) from other accounts with us.<br />
   <br />
        All deposits are accepted by us subject to verification. You should
        retain your copy of the receipt and any other document which evidences
        your deposit. If you claim that a deposit was not properly credited
        to your Account, we may ask you to show us your receipt. You should
        not mail cash deposits. We will not be liable for any deposit which
        we do not receive. We shall not be responsible for deposits made
        by mail or at an unstaffed facility (such as an ATM or a night depository)
        until we actually receive the item. Use of unstaffed facilities is
        at your own risk until we have examined and verified the cash or
        items. We reserve the right to make adjustments to your Account for
        computation or other errors related to your Account.<br />
   <br />
        All non-cash deposits are posted to your Account subject to our receipt
        of final payment. If final payment is not received, we will charge
        your Account for the amount of those deposits, for any dividend earned
        on those deposits and for our return of deposited item charge as
        well, even if those deposits have already been made available to
        you. If this charge creates an overdraft, you agree to pay us the
        amount of the overdraft immediately and we may charge your Account
        a service charge for the overdraft. We receive final payment for
        deposit items at different times depending on the location of the
        financial institutions or other parties who will pay the items. Our
        receipt of final payment may be delayed further due to circumstances
        beyond our reasonable control. If we must pay any fees to collect
        your deposit, we will charge them to your Account and we may impose
        a service charge for the collection. We reserve the right to refuse
        or to return all or part of a deposit for collection at any time.<br />
    <br />
    <hr />
    <br />
    <h2>ENDORSEMENTS.</h2>
        The law allows us to supply a missing endorsement to a deposited
        check, draft, or other instrument. However, we reserve the right
        to refuse to accept for deposit any item which does not bear a proper
        endorsement, which is payable to someone other than you or under
        any other circumstances in our sole discretion. If a government,
        insurance, or other check or draft requires an endorsement set forth
        on the back of the check or draft, we may require endorsement as
        set forth on the item. Federal law specifies locations on drafts
        and checks for your and our respective endorsements. The allowable
        endorsement space for you measures 1 1/2 inches from the &quot;trailing
        edge&quot; of the item. (The trailing edge of an item is the edge
        where the words &quot;pay to the order of&quot; appear on the opposite
        side). If our endorsement is illegible because you have endorsed
        the item in the wrong location or if any other markings you or any
        prior endorser has made on the item cause any delay or error in processing
        the item for payment, you will be liable for any resulting losses.<br />
    <br />
    <hr />
    <br />
    <h2>ELECTRONIC/ACH CREDITS &amp; WIRE TRANSFERS.</h2>
        If you receive a credit to your Account through the Automated Clearing
        House (&quot;ACH&quot;) network (i.e., payroll checks, social security
        and retirement checks, or other government checks), the rules of
        the National Automated Clearing House Association shall govern. Wire
        transfers are governed by Federal Reserve Regulation J. When you
        agree for us to receive funds by wire or ACH transfer, we are not
        required to give you notice at the time the funds are received. Instead,
        we will notify you of the credit on your regular Account statement.
        Please refer to our Electronic Funds Transfer and Wire Transfer Disclosures
        or ask a Credit Union employee for assistance.<br />
    <br />
    <hr />
    <br />
    <h2>WITHDRAWALS.</h2>
        Money can be withdrawn from your Account in different ways, as permitted
        for each type of Account.<br />
    <br />
        If you make withdrawals by checking, the checking must be properly
        completed and signed by you or your representative whose authority
        is on file with us. We are authorized to recognize your signature,
        but are not liable for refusing to honor any item or instruction
        of yours if we believe in good faith that the signature on such item
        is not genuine. We strongly suggest that you use those checks which
        have your Account number already printed on them.<br />
    <br />
        We are only required to permit a withdrawal if you have sufficient
        available funds in your Account to cover the whole amount of the
        withdrawal. Checks or other debit items presented against insufficient
        Account balances or available funds are subject to a service charge
        and will be handled in accordance with our overdraft procedures or
        an overdraft protection plan you have with us. The determination
        of an insufficient Account balance may be made by us at any time
        between presentation and our return deadline with only one review
        of the Account required. We have no duty to notify you of an insufficient
        draft. If there are sufficient funds to cover some but not all of
        your withdrawal orders, we will allow those withdrawals which can
        be paid, in any order convenient to us. If, in our sole discretion,
        we choose to allow withdrawals for which there are not sufficient
        available funds, you agree to immediately repay us the funds advanced
        to you. We will also assess your Account a service charge. At no
        time shall we be required to allow you to overdraw your Account even
        if we had allowed such activity on one or more previous occasions.<br />
    <br />
        We reserve the right to require you to give notice in writing of
        any intended withdrawals from any Account of not less than 7 days
        and up to 60 days in accordance with applicable law before such withdrawals.
        However, if we permit you to make withdrawals without giving us notice,
        we may still require you to give us notice at a later time.<br />
    <br />
        In writing checks, we strongly suggest that you date them with the
        current date. We will not have liability to you for paying checks
        which are postdated, stale dated or do not bear a date. We are under
        no obligation to examine for postdated or stale dated drafts and
        are under no obligation to pay a draft or check drawn on your Account
        which is presented more then 6 months after its date.<br />
    <br />
        Checks are truncated (not returned with your monthly statement) but
        are itemized on the monthly statement in a manner so that you may
        determine if the item was authorized by you or by a person you authorized
        to perform the transaction. The non-return of the items to you does
        not relieve you of your obligation to examine all transactions made
        to your account. Microfilm copies of checks are available to you
        as set forth on the Rate and Fee Schedule.<br />
    <br />
    <hr />
    <br />
    <h2>STOP PAYMENT.</h2>
        You may stop payment on any checking, telephone, or pre-authorized
        transfer order. Stop payment procedures for pre-authorized transfer
        orders are explained in your Electronic Funds Transfer Disclosure.
        In order for your stop payment order on a checking or other similar
        item to be considered timely, we must receive your order at a time
        and in a manner which give us a reasonable opportunity to act on
        it prior to payment. A written stop payment order is effective for
        6 months and may be renewed for additional 6 month periods. An oral
        stop payment order is effective for 14 days, unless you confirm it
        in writing with us during that time. If an oral stop payment order
        is confirmed, it is effective for 6 months from the time the order
        was first given orally. We will accept stop payment orders provided
        they are properly authorized by any person with signing authority
        on your Account, regardless of who initiated the draft or other withdrawal
        order.<br />
    <br />
        Stop payment orders are subject to our current charge for that service
        as set forth in the Rate and Fee Schedule. You may not stop payment
        on any certified draft or check or any other withdrawal order guaranteed
        by you or the Credit Union. You may place a stop payment order at
        any branch office, or by calling us at the number, or writing us
        at the address, shown on your statement.<br />
    <br />
        We will request the following information about the draft or other
        withdrawal order to be stopped: Account number; amount; draft or
        item number; name of party to be paid; date; and your name and address.
        You are responsible to review the written stop order and report any
        errors to us. Stop payment orders are processed by computer. Unless
        the amount of the draft or other transfer or withdrawal order and
        other information are reported absolutely accurately, we cannot assure
        you that the item you want stopped will not be paid. If the item
        is paid through no fault of yours, we will only be liable for actual
        damages you incur, not to exceed the amount of the item.<br />
    <br />
    <hr />
    <br />
    <h2>DIVIDENDS.</h2>
        Dividends will be calculated on your dividend bearing Accounts and
        credited directly to your Account as set forth in our Rate and Fee
        Schedule. The Rate and Fee Schedule sets forth the following information
        (which is incorporated in this Agreement by reference): rate information;
        nature of dividends; compounding and crediting of dividends; accrual
        of dividends; balance information; and account limitations. Your
        dividend rate and annual percentage yield may change. At our discretion,
        we may change the dividend rate on your Account(s) at any time without
        notice to you. We may also change the manner in which the dividend
        is calculated and/or credited to your Account, by mailing notice
        of such change to you, by posting the change in our branch offices,
        by making such information available upon request in our branch offices,
        or in any other manner permitted by law. If you desire current dividend
        rate and annual percentage yield information, please ask in any branch
        office.<br />
    <br />
        We reserve the right to calculate dividends for those dividend-bearing
        Accounts which are used for personal, household or family purposes
        in a manner different from those dividend-bearing Accounts which
        are used for business or other non-personal purposes.<br />
    <br />
        We must report dividends on your Account to the appropriate government
        agencies. It is your responsibility to give us your correct social
        security number and to make certain written certifications to us
        as required by law. If you fail to give us your number or the required
        certifications, we may withhold and pay to the government a percentage
        of the dividend earned on your Account, as required by law. You may
        also be subject to government penalties.<br />
    <br />
    <hr />
    <br />
    <h2>ACCOUNT TRANSACTION LIMITATIONS.</h2>
        For Savings Accounts, you may make unlimited withdrawals (checks
        directly to you) or transfers (between your savings and loan accounts
        at the Credit Union) by mail, ATM (if we have permitted you to establish
        such account on your Card) or in person; you may, however, make no
        more than a total of 6 transfers to other accounts or to third parties
        during each monthly statement period when these are made by pre-authorized,
        automatic, telephonic, or audio response transfer, and no more than
        3 of the 6 transfers may be made by use of a debit card, draft or
        similar order payable to a third person. The Rate and Fee Schedule
        sets forth the transaction limitations for each type of account offered
        by us.<br />
    <br />
        We reserve the right to prevent transfers which exceed the above
        limits or to monitor these transactions after they occur. Where we
        observe that the number of transactions exceeds the above limits,
        we will contact you for corrective action. Where excessive transactions
        continue to occur, or where the number of transactions shows little
        attempt to stay within the limitations, we reserve the right to refuse
        or reverse a transfer, to close the Account, to convert it to an
        Account without transfer limitations, and to impose a charge.<br />
    <br />
    <hr />
    <br />
    <h2>CHARGES.</h2>
        Your Account may be subject to various charges, including item charges,
        a monthly service charge and charges for the use of certain Account
        services, including electronic services. Please be aware that these
        charges reduce your Account balance and may cause you to become overdrawn
        or your outstanding drafts or other orders to be returned unpaid.<br />
    <br />
        If funds in your Account are attached, garnished, or levied against,
        or if we are prohibited by law from paying on your Account, we may
        assess a legal process charge. You agree to reimburse us for any
        expenses we may incur as a result of any such legal action. Any such
        legal action may reduce your Account balance and cause your outstanding
        drafts and other orders to be returned unpaid.<br />
    <br />
        All charges and other fees mentioned in this Agreement or otherwise
        applicable to your Account are detailed in our Rate and Fee Schedule,
        a copy of which has been given to you, and which is part of this
        Agreement. We reserve the right to make changes to our fees and other
        charges from time to time. Such changes will become effective upon
        posting the changes in our branch offices or upon delivery of the
        changes to the last address which you have specified for the Account
        or otherwise as required or permitted by law.<br />
    <br />
    <hr />
    <br />
    <h2>STATEMENTS.</h2>
        We will make available or send a monthly statement to the last address,
        which you have specified for your Account. For Savings Accounts,
        we will send this statement quarterly and for any month in which
        an electronic funds transfer has occurred. This statement will list
        all activity which relates to your Account during the statement period
        and any other information required by law. Upon receipt, you should
        review your statement carefully. If you fail to notify us within
        a reasonable time period of any problem which appears on the statement,
        you may lose certain legal rights.<br />
    <br />
        Please notify us of any change in your address. If your statement
        is returned to us, we will suspend further mailings until a current
        address is received. It is your responsibility to keep your address
        current. You can notify us of an address change in person or by mail.<br />
    <br />
    <hr />
    <br />
    <h2>OTHER SERVICES.</h2>
        If you use other services (for example, direct deposit, ATM, audio
        response, etc.) in connection with your Account, and there is any
        inconsistency between the terms and conditions stated for those services
        and this Agreement, then the terms and conditions stated for the
        additional services shall control, but only to the extent necessary.<br />
    <br />
    <hr />
    <br />
    <h2>DEATH/INCOMPETENCE OF ACCOUNT OWNER.</h2>
        Following the death or the adjudication of in competency (by court
        order) of an Account owner, the amount credited to the Account shall
        be payable in accordance with applicable law. This includes our right
        to pay any drafts and to carry out any transfer orders authorized
        by the deceased Account owner for a period of 10 days after the date
        of death, unless we receive instructions to stop payment on those
        orders from a surviving joint owner, in case of a joint Account,
        or the legal representative of the deceased member, in the case of
        a single Account. In the case of an adjudicated incompetent Account
        owner, we may pay process deposits, withdrawals and transfers on
        the Account until we are properly notified of the proceedings and
        have had a reasonable opportunity to act on it. Each joint Account
        owner agrees to notify us upon the death or adjudication of in competency
        of any other joint owner. We reserve the right to refuse withdrawals
        from your Account until legal requirements are complied with.<br />
    <br />
    <hr />
    <br />
    <h2>INACTIVE ACCOUNTS.</h2>
        If your account is inactive (no deposits or withdrawals) and you
        have not otherwise communicated with us about your Account for the
        period provided by law, we will be required to transfer the balance
        of your Account to the appropriate state authority, as abandoned
        property. If your Account is inactive for the period of time specified
        in our Rate and Fee Schedule, we reserve the right to impose an inactivity
        charge on your account. You also agree that if your Account becomes
        inactive, it will be subject to any new fees or fee increases which
        go into effect during the period of inactivity.<br />
    <br />
    <hr />
    <br />
    <h2>MONEY OWED.</h2>
        If you have a loan with us we have the right, unless otherwise provided
        for in the loan, to set off the balance in the Account to pay in
        whole or in part any outstanding loan balance that you or your joint
        owner may have.<br />
   <br />
        In addition, you and any joint owners give us a lien on the balance
        in any Account in your individual or joint names to secure the payment
        of any other obligation to us of any joint owner. This shall apply
        to all Accounts, including joint Accounts owned by husband and wife.
        Obligations shall include, but not be limited to, overdrafts or overpayments,
        whether caused by error, mistake, inadvertence or otherwise.<br />
   <br />
        We may use the funds in your Accounts to pay the amount which is
        due and owing, to the extent permitted by law. We may exercise this
        right without advance notice to you and without regard to any other
        right which we may have against you or any other party.<br />
    <br />
    <hr />
    <br />
    <h2>CLOSING THE ACCOUNT.</h2>
        You or the Credit Union can close your Account at any time for any
        reason. Reasons for such action include, but are not limited to,
        the following: a change in owners or authorized signers; a forgery
        or fraud reported or committed involving your Account; a dispute
        as to ownership of the funds in the Account; any checks, PIN or debit
        card lost or stolen; excessive returned unpaid items not covered
        by overdraft protection; any misrepresentation or any other abuse
        of any of your Accounts; or, if we reasonably believe it necessary
        to prevent a loss to the Credit Union. We reserve the right to require
        the consent of all joint Account owners for closing of a joint Account.
        You will still be liable to us for any service charges or overdrafts
        which may occur after an Account is closed.<br />
    <br />
    <hr />
    <br />
    <h2>TERMINATION OF MEMBERSHIP.</h2>
        You may terminate your membership with us after giving notice of
        your intent to withdraw from membership. You may be denied services
        or your membership may be terminated by us for any reason allowed
        by applicable law, including causing a loss to the Credit Union.<br />
    <br />
    <hr />
    <br />
    <h2>ACCOUNT SECURITY.</h2>
        If you wish to report any irregularity with respect to your Account,
        you should contact us immediately at the number shown on your statement
        or at any branch office. We may require you to close your Account
        or transfer the balance to another Account to prevent security risks,
        at our discretion.<br />
   <br />
        Not transferable - Your Savings are not transferable, except as required
        or permitted by law or Credit Union Policy.<br />
    <br />
    <hr />
    <br />
    <h2>CREDIT UNION LIABILITY.</h2>
        If we do not properly complete a transaction according to this Agreement,
        we will be liable for your losses or damages not to exceed the amount
        of the transaction, except as otherwise provided by law. We will
        not be liable for consequential damages, except liability for wrongful
        dishonor. Our actions will constitute the exercise of ordinary care
        if such actions or nonactions are consistent with applicable state
        law, Federal Reserve regulations and operating letters, clearinghouse
        rules, and general banking practices followed in the trade area served
        by us. You grant us the right to rely exclusively on the form of
        the Account and the terms in this Agreement. Any conflict between
        oral representations by you or Credit Union employees and any written
        form will be resolved by reference to this Agreement and applicable
        written form.<br />
    <br />
    <hr />
    <br />
    <h2>SPECIAL ACCOUNT INSTRUCTIONS.</h2>
        You may request us to handle certain trust, will, or court-ordered
        account arrangements. However, because we do not give legal advice,
        we cannot counsel you as to which account most appropriately meets
        the requirements of your trust, will, or court order. If you ask
        us to follow any instructions that we believe might expose us to
        claims, lawsuits, expenses, liabilities, or damages, whether directly
        or indirectly, we may refuse to follow your instructions or may require
        you to indemnify us or post a bond or other protection.<br />
    <br />
    <hr />
    <br />
    <h2>AMENDMENT/WAIVER.</h2>
        We reserve the right to amend this Agreement from time to time. An
        amendment will be effective upon posting the amendment in our branch
        offices or upon delivery of notice to the last address which you
        have specified for your Account or otherwise as required or permitted
        by law. If notice is given by mail, only one notice will be required
        in the case of a joint Account. Any waiver of any term or condition
        stated in this Agreement must be in writing and signed by a Credit
        Union authorized employee and shall not be considered a waiver of
        any future obligation or right.<br />
    <br />
    <hr />
    <br />
    <h2>SEVERABILITY.</h2>
        In the event that any paragraph of this Agreement or any portion
        thereof is held by a court to be invalid or unenforceable for any
        reason, the other paragraphs and portions of this Agreement not held
        by the court to be invalid or unenforceable will continue in full
        force and effect.<br />
    <br />
    <hr />
    <br />
    <h2>GOVERNING LAW.</h2>
        This Agreement is governed by the laws and regulations of the state
        of Kentucky and the United States of America, as amended from time
        to time.<br />
    <br />
    <hr />
    <br />
    <h2>DISCLOSURES.</h2>
        In connection with your Account, we may give you certain disclosure
        statements or policies, and may revise them from time to time. All
        such statements, policies and revisions shall be considered to be
        a part of this Agreement.<br />
    <br />
    <hr />
    <br />
    <h2>INFORMATION.</h2>
        You authorize the exchange of information concerning you or your
        financial transactions among us and those companies providing services
        to us. You also agree to cooperate with us in any record keeping
        and reporting which we believe to be necessary to fulfill government
        requirements.<br />
   <br />
        The information contained herein is accurate and <strong>effective
        as of 06/2006</strong>. If you have any questions or require current
        rate information on your Accounts, please call us or stop by our
        branch offices. 
       <br />
    <p>&nbsp;</p>
</div>