<p style="color: green", align=center><%= flash[:notice] %></p>
<div id="mainholderpad" class="clearfix">
	<table class="app">
	    <tr>
	        <td>
	            <p class="centertext"><strong>REQUEST INFORMATION</strong></p>
	        </td>
	    </tr>
        <tr>
            <td>
                <p class="centertext"><br /><br /><strong>Your request for more information has been received.</strong></p>
                <p class="centertext"><strong><%= link_to "Return to Home Page", root_path %></strong></p>
            </td>
        </tr>
    </table>
</div>