<p style="color: green", align=center><%= flash[:notice] %></p>
<div class="innercontent clearfix">      
    <div class="margin clearfix">
		<table class="app">
            <tr>
                <td>
                    <p class="centertext"><br / /><br / /><strong>Your Loan Application has been received.</strong></p>
                    <p class="centertext"><strong><%= link_to "Return to Home Page", root_path %></strong></p>
                </td>
            </tr>
        </table>
	</div>
</div>